.list{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1.5rem;
  }

  .card{
    width: calc(25% - 1rem);
    background: rgba(0, 0, 0, 0.7);;
    border-radius: 9px !important;
    padding: 0.5rem  0.5rem 0;

    position: relative;
  }

  .card-favorites{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;

    width: 2em !important;
    height: 2em !important;
  }

  .card-content{
    border-top: 1px solid #ffffff15 !important;
  }

  .card-link{
    color: #fff;
  }