.filters{
    padding: 1rem 0;
    background: #fff;
    width: 100%;
}
.filters__row{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}

.filter{
    width: 200px;
}
.filter-area{
    display: flex;
    gap: 15px;
}

select.browser-default {
    display: block;
    color: black !important;
}

input{
    border: 1px solid rgb(184, 182, 182) !important;
    width: 200px !important;
    height: 45px !important;
    background: #fff !important;
    border-radius: 4px !important;
    padding: 0 1rem !important;
    color: black !important;
}
